@page
@using Puzzle.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Solve this puzzle!</h1>
<div id="puzzle">
    @for (int i = 0; i < 81; i++)
    {
        int y = i % 9;
        int x = i / 9;
        char numChar = Model.puzzleMatrix[x,y];
        var key = Model.solutionMatrix[x,y];
        @if (numChar == '?')
        {
            @if (y == 2 || y == 5)
            {
                @if (x == 2 || x == 5)
                {
                    <input key="" solution="@key" type="text" class="puzzleCell verticalDivider horizontalDivider" />;
                }
                else
                {
                    <input key="" solution="@key" type="text" class="puzzleCell verticalDivider" />;
                }
            }
            else if (x == 2 || x == 5)
            {
                <input key="" solution="@key" type="text" class="puzzleCell horizontalDivider" />;
            }
            else
            {
                <input key="" solution="@key" type="text" class="puzzleCell" />;
            }
        }
        else
        {
            @if (y == 2 || y == 5)
            {
                @if (x == 2 || x == 5)
                {
                    <input key="" solution="@key" type="text" class="puzzleCell verticalDivider horizontalDivider" />;
                }
                else
                {
                    <div key="@key" solution="@key" class="puzzleCell verticalDivider">@numChar</div>;
                }
            }
            else if (x == 2 || x == 5)
            {
                <div key="@key" solution="@key" class="puzzleCell horizontalDivider">@numChar</div>;
            }
            else
            {
                <div key="@key" solution="@key" class="puzzleCell">@numChar</div>;
            }
        }
    }
</div>
@{

}
<button id="solutionChecker" solution="@Model.puzzleString">Check solution</button>
